html, body, div, h1, h2, h3, span, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: arial;
}

div#vizBlock {
    width: 1100px;
    height: 800px;
/*    overflow: scroll;*/
    float: left;
}

div#selectUserBlock {
    float: left;
}

svg {
    font-size: 9pt;
}

line {
    stroke: black;
    opacity: 0.25;
}

circle {
    fill: red;
}

div#tooltip {
    background-color: white;
    border: solid 1px #000;
    width: auto;
    height: auto;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: calibri;
    display: none; /* hides the div */
    position: absolute; /* removes the div from the flow of the HTML */
}

nodeDetails {
    display: block;
}

span#nodeNameDate {
    font-weight: bold;
}

li.nodeDetails {
    padding-left: 20px;
    list-style-type: none;
}

